@use "../../variable.scss" as *;
.footer {
  background-color: #000000;
  // height: auto;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  @include tablet() {
    flex-direction: column;
    align-items: center !important;
  }
  @include mobile() {
    flex-direction: column;
    align-items: center !important;
  }
  .footerTitle {
    color: white;
  }
  .mediaLinks {
    margin-top: 30px;
    .fa-brands {
      padding: 10px;
      color: white;
    }
  }
  .usefulLinks {
    @include tablet() {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
      text-align: center;
    }
    @include mobile() {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
      text-align: center;
    }
  }
  .titleLable {
    color: white;
    font-size: 12px;
  }
  .footerLabels {
    color: white;
    font-size: 14px;
  }
  ul {
    padding: 0 !important;
    @include tablet() {
      text-align: center;
    }
    @include mobile() {
      text-align: center;
    }
    li,
    .list {
      list-style-type: none !important;
      color: #b5b7b9;
      padding: 5px 0;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .email {
    color: white;
    font-size: 14px;
  }
  .address {
    margin-top: 30px;
  }
  span {
    color: #b5b7b9;
    font-size: 14px;
  }
  .addressDiv {
    @include tablet() {
      padding-left: 20px;
    }
    @include mobile() {
      padding-left: 20px;
    }
  }
}
