@use "../../variable.scss" as *;
.businessPlanning {
  background-color: white;
  width: 100%;
  padding-top: 56px;
  @include tablet() {
    padding: 20px !important;
  }
  @include mobile() {
    padding: 20px !important;
  }
  .section1 {
    margin-top: 30px;
    padding-top: 30px;
    h1 {
      text-align: center;
    }
  }
  .section2 {
    padding: 30px 0;
    .cardImg {
      height: 312px !important;
      @include ipad() {
        height: 360px !important;
      }
      @include tablet() {
        width: 100%;
      }
    }
  }
  .section3 {
    padding: 30px 0;
    background-color: #f7f7f7;
    button {
      padding: 8px 20px;
      color: white;
      background-color: #000000;
      border: none;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 500;
      // @include ipadpro() {
      //   margin: 0 30px;
      // }
      // @include ipad() {
      //   margin: 0 30px;
      // }
      // @include tablet() {
      //   margin: 0 30px;
      // }
      // @include mobile() {
      //   margin: 0 30px;
      // }
    }
  }
}
