@use "../../variable.scss" as *;
.careerPage {
  background-color: white;
  width: 100%;
  padding-top: 56px;
  .careerContent {
    padding: 30px;
    display: flex;
    @include ipadpro() {
      max-width: unset !important;
    }
    @include ipad() {
      max-width: unset !important;
    }
    @include tablet() {
      flex-direction: column-reverse;
    }
    @include mobile() {
      flex-direction: column-reverse;
    }
    .joinFuture {
      padding: 30px;
      @include tablet() {
        padding: 20px 0 0 0;
      }
      @include mobile() {
        padding: 20px 0 0 0;
      }
    }
  }
  .section2,
  .section3,
  .section4 {
    margin: 30px 0;
    @include tablet() {
      padding: 0 15px;
    }
    @include mobile() {
      padding: 0 15px;
    }
    .accordionContainer {
      background-color: #fff;
      border-radius: 4px;
      padding: 30px;
      margin-top: 60px;
      margin-bottom: 40px;
      box-shadow: 0 0 10px #00000040;
      .jobTitle {
        .jobRole {
          // padding-top: 30px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .jobLocation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      // @include tablet() {
      //   display: unset;
      // }
      @include mobile() {
        display: unset;
      }
      label {
        color: #000000ad;
        @include tablet() {
          margin-top: 5px;
        }
        @include mobile() {
          margin-top: 5px;
        }
      }
      .applyBtn {
        padding: 10px 30px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 22px;
        font-size: 12px;
        @include tablet() {
          margin-top: 10px;
        }
        @include mobile() {
          margin-top: 10px;
        }
      }
    }
    .accordion {
      padding-top: 20px;
      .viewBtn {
        &:focus {
          box-shadow: unset !important;
        }
      }
    }
    .jobDetails {
      label {
        font-weight: 500;
        Span {
          font-weight: 100 !important;
        }
      }
    }
    .description {
      padding-top: 30px;
      label {
        padding-bottom: 5px;
      }
    }
  }
}

.errMsg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.contactForm {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 30px;
}
.privacyLabel {
  display: flex;
  .policy {
    padding: 0 10px;
    font-size: 12px;
  }
}
.applyForm {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 30px;
  width: 30%;
  margin: 0 80px;
}
.formLabels {
  font-size: 12px;
}
.formFields {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  resize: none;
  &:focus-visible {
    outline: none;
  }
}
.submitBtn {
  border: 1px solid #1490e4;
  padding: 5px 20px;
  border-radius: 21px;
  background: #1490e4;

  color: white;
  float: right;
}

.resumeBtn {
  cursor: pointer;
}
