@use "@angular/material" as mat;
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/azure-blue.css";

/* Your global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
